@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #7300F0, #C200F0 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(77, 3, 93, 0.624);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#0074F0 ;
    text-align: center;
    text-shadow: 1px 1px 0px #0042899e;
}

h2{
    color: #2C4CF0;
}

p{
    text-align: justify;
}